.header {
    background: #fff;

}

.header__inner {
    width: 1512px;
    height: 30px;

    text-align: center;
}

.header__logo {
    width: 1509.01px;
    height: 100px;

    font-family: Inika;
    text-align: center;
    font-size: 50px;
    color: #8B7969;
}
.thanks__heading {
    width: 1381px;
    height: 365px;
    top: 319px;
    left: 66px;
    gap: 0px;
    opacity: 0px;
    font-family: Inika;
    font-size: 280px;
    font-weight: 400;
    line-height: 364.84px;
    text-align: left;
    color: #8B79690D;


}

.thanks__body {
    width: 510px;
    height: 39px;
    top: 461px;
    left: 501px;
    gap: 0px;
    opacity: 0px;
    font-family: Inika;
    font-size: 30px;
    font-weight: 700;
    line-height: 39.09px;
    text-align: left;
    color: #8B7969;
}

.home__button {
    width: Hug (140px)px;
    height: Hug (46px)px;
    top: 555px;
    left: 686px;
    padding: 10px 40px 10px 40px;
    gap: 10px;
    opacity: 0px;
    background: #82756A;
}

.home__button-submit {
    width: 60px;
    height: 26px;
    gap: 0px;
    opacity: 0px;
    font-family: Inika;
    font-size: 20px;
    font-weight: 400;
    line-height: 26.06px;
    text-align: left;
    color: #FFFFFF;
}